.PortfolioPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 64px 288px; 

    &__title {
        padding: 0 16px;
        font-size: 42px;
    }

}