.Footer {
	display: flex;
	justify-content: space-between;
	padding: 16px 128px;
	background: #1B2C58;
	color: #6D7EAC;
	font-size: 22px;
}

.Footer__trademark {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0 12px;
	height: 2em;
}

.Footer__info-list {
	display: flex;
	flex-direction: row-reverse;
	list-style: none;
	padding: 0;
	margin: 0;
    height: 2em;
}

.Footer__button-single {
	padding: 8px 16px 8px 0;
}

.Footer__button-link {
	text-decoration: none;
}

.Footer__button-single:hover {
	cursor: pointer;
	color: #fff;
}